{{define "title"}}Geolocation{{end}}
{{define "content"}}
    <h2>Sites</h2>
        <ul>
            {{- range .}}
                <li>{{.Name}}</li>
                    <ul>
                        {{- range .Buildings}}
                            <li>{{.Name}}</li>
                    <ul>
                        {{- range .Floors}}
                            <li>{{.Name}}</li>
                    <ul>
                        {{- range .Rooms}}
                            <li>{{.Name}}</li>
                    <ul>
                        {{- range .Rows}}
                            <li>{{.Name}}</li>
                    <ul>
                        {{- range .Racks}}
                            <li>{{.Name}}</li>
                        {{- end}}
                    </ul>
                        {{- end}}
                    </ul>
                        {{- end}}
                    </ul>
                        {{- end}}
                    </ul>
                        {{- end}}
                    </ul>
            {{- end}}
        </ul>
{{end}}

